<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PassBy</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No options require to respring!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PassByHelpListController</string>
			<key>label</key>
			<string>Help</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>paypal.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate (help a student)</string>
			<key>action</key>
			<string>donate:</string>
		</dict>		
		<dict>
			<key>icon</key>
			<string>github.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code by Giorgio Iavicoli</string>
			<key>action</key>
			<string>sourceCode:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>savePasscode</string>
			<key>label</key>
			<string>Do not require passcode after respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>showLastUnlock</string>
			<key>label</key>
			<string>Show last time unlocked</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>use24hFormat</string>
			<key>label</key>
			<string>Use 24h format</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Activator – activation methods</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Unlock and dismiss lockscreen</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.giorgioiavicoli.passby.unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Disable until next real unlock</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.giorgioiavicoli.passby.invalidate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto-unlock options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>useGracePeriod</string>
			<key>label</key>
			<string>Use auto-unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>gracePeriod</string>
			<key>label</key>
			<string>Auto-unlock timeout</string>
			<key>placeholder</key>
			<string>0 = never require passcode</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>gracePeriodUnit</string>
			<key>label</key>
			<string>Timeout unit</string>
			<key>validTitles</key>
			<array>
				<string>Seconds</string>
				<string>Minutes</string>
				<string>Hours</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>60</integer>
				<integer>3600</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Wi-Fi auto-unlock options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>useGracePeriodOnWiFi</string>
			<key>label</key>
			<string>Use Wi-Fi auto-unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>allowWiFiGPWhileLocked</string>
			<key>label</key>
			<string>Even when joined while locked</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>gracePeriodOnWiFi</string>
			<key>label</key>
			<string>Timeout on Wi-Fi</string>
			<key>placeholder</key>
			<string>0 = never require passcode</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>gracePeriodUnitOnWiFi</string>
			<key>label</key>
			<string>Timeout unit</string>
			<key>validTitles</key>
			<array>
				<string>Seconds</string>
				<string>Minutes</string>
				<string>Hours</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>60</integer>
				<integer>3600</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Enabled Wi-Fi networks list</string>
			<key>detail</key>
			<string>PassByWiFiListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bluetooth auto-unlock options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>useGracePeriodOnBT</string>
			<key>label</key>
			<string>Use Bluetooth auto-unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>allowBTGPWhileLocked</string>
			<key>label</key>
			<string>Even when connected while locked</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>gracePeriodOnBT</string>
			<key>label</key>
			<string>Timeout on Bluetooth</string>
			<key>placeholder</key>
			<string>0 = never require passcode</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>gracePeriodUnitOnBT</string>
			<key>label</key>
			<string>Timeout unit</string>
			<key>validTitles</key>
			<array>
				<string>Seconds</string>
				<string>Minutes</string>
				<string>Hours</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>60</integer>
				<integer>3600</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Enabled Bluetooth devices list</string>
			<key>detail</key>
			<string>PassByBTListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other auto-unlock options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>headphonesAutoUnlock</string>
			<key>label</key>
			<string>Auto-unlock while using headphones</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>watchAutoUnlock</string>
			<key>label</key>
			<string>Auto-unlock while Watch is reachable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>dismissLS</string>
			<key>label</key>
			<string>Dismiss lockscreen if no notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>dismissLSWithMedia</string>
			<key>label</key>
			<string>Even when showing media controls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Magic Passcode options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>useMagicPasscode</string>
			<key>label</key>
			<string>Use Magic Passcode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>passcodeLength</string>
			<key>label</key>
			<string>Passcode length</string>
			<key>validTitles</key>
			<array>
				<string>4</string>
				<string>6</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>4</integer>
				<integer>6</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
            <string>PassByMagicPasscodeListController</string>
			<key>label</key>
			<string>Magic Passcode configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Disable options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>disableInSOSMode</string>
			<key>label</key>
			<string>Disable during SOS mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>disableDuringTime</string>
			<key>label</key>
			<string>Disable during time interval</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>disableBioDuringTime</string>
			<key>label</key>
			<string>Also disable Touch ID/Face ID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>disableFromTime</string>
			<key>label</key>
			<string>From time</string>
			<key>placeholder</key>
			<string>Colon (:) will be added for you</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>disableToTime</string>
			<key>label</key>
			<string>To time</string>
			<key>placeholder</key>
			<string>Colon (:) will be added for you</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>keepDisabledAfterTime</string>
			<key>label</key>
			<string>Keep disabled until next real unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>disableAlert</string>
			<key>label</key>
			<string>Disable "PassBy Enabled" alert</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Settings</string>
			<key>action</key>
			<string>resetSettings:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send feedback</string>
			<key>action</key>
			<string>sendFeedback:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Developed by Giorgio Iavicoli</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
