<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PassBy</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No options require to respring!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
   			<string>PassByHelpListController</string>
			<key>label</key>
			<string>Help</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>disableInSOSMode</string>
			<key>label</key>
			<string>Disable in SOS mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>isSixDigitPasscode</string>
			<key>label</key>
			<string>Passcode is 6-digit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>showLastUnlock</string>
			<key>label</key>
			<string>Show last time unlocked</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>use24hFormat</string>
			<key>label</key>
			<string>Use 24h format</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto-unlock options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>useGracePeriod</string>
			<key>label</key>
			<string>Use auto-unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>gracePeriod</string>
			<key>label</key>
			<string>Auto-unlock timeout</string>
			<key>placeholder</key>
			<string>0 = never require passcode</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>gracePeriodUnit</string>
			<key>label</key>
			<string>Timeout unit</string>
			<key>validTitles</key>
			<array>
				<string>Seconds</string>
				<string>Minutes</string>
			</array>
			<key>validValues</key>
			<array>
				<string>s</string>
				<string>m</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>useGracePeriodOnWiFi</string>
			<key>label</key>
			<string>Use Wi-Fi auto-unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>gracePeriodOnWiFi</string>
			<key>label</key>
			<string>Timeout on Wi-Fi</string>
			<key>placeholder</key>
			<string>0 = never require passcode</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>gracePeriodUnitOnWifi</string>
			<key>label</key>
			<string>Timeout unit</string>
			<key>validTitles</key>
			<array>
				<string>Seconds</string>
				<string>Minutes</string>
			</array>
			<key>validValues</key>
			<array>
				<string>s</string>
				<string>m</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Enabled Wi-Fi networks list</string>
			<key>detail</key>
			<string>PassByWiFiListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>headphonesAutoUnlock</string>
			<key>label</key>
			<string>Auto-unlock when using headphones</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>dismissLS</string>
			<key>label</key>
			<string>Dismiss lockscreen if no notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>dismissLSWithMedia</string>
			<key>label</key>
			<string>Even when showing media controls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Magic passcode options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>useMagicPasscode</string>
			<key>label</key>
			<string>Use magic passcode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>firstTwo</string>
			<key>label</key>
			<string>First two digits</string>
			<key>validTitles</key>
			<array>
				<string>Time: hours digits</string>
				<string>Time: minutes digits</string>
				<string>Date: day</string>
				<string>Date: month</string>
				<string>Battery: remaining</string>
				<string>Battery: used</string>
				<string>Timeout to lock</string>
				<string>Custom digits</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>firstTwoCustomDigits</string>
			<key>label</key>
			<string>Custom Digits</string>
			<key>placeholder</key>
			<string>00</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>firstTwoReversed</string>
			<key>label</key>
			<string>Reverse first two digits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>secondTwo</string>
			<key>label</key>
			<string>Second two digits</string>
			<key>validTitles</key>
			<array>
				<string>Time: hours digits</string>
				<string>Time: minutes digits</string>
				<string>Date: day</string>
				<string>Date: month</string>
				<string>Battery: remaining</string>
				<string>Battery: used</string>
				<string>Timeout to lock</string>
				<string>Custom digits</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>secondTwoCustomDigits</string>
			<key>label</key>
			<string>Custom Digits</string>
			<key>placeholder</key>
			<string>00</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>secondTwoReversed</string>
			<key>label</key>
			<string>Reverse second two digits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>lastTwo</string>
			<key>label</key>
			<string>Last two digits</string>
			<key>validTitles</key>
			<array>
				<string>Time: hours digits</string>
				<string>Time: minutes digits</string>
				<string>Date: day</string>
				<string>Date: month</string>
				<string>Battery: remaining</string>
				<string>Battery: used</string>
				<string>Timeout to lock</string>
				<string>Custom digits</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>lastTwoCustomDigits</string>
			<key>label</key>
			<string>Custom Digits</string>
			<key>placeholder</key>
			<string>00</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>lastTwoReversed</string>
			<key>label</key>
			<string>Reverse last two digits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>timeShift</string>
			<key>label</key>
			<string>Time Shift</string>
			<key>placeholder</key>
			<string>Minutes to add/subtract</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.passby</string>
			<key>key</key>
			<string>timeShiftDirection</string>
			<key>validTitles</key>
			<array>
				<string>Add</string>
				<string>Subtract</string>
			</array>
			<key>validValues</key>
			<array>
				<string>+</string>
				<string>-</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Settings</string>
			<key>action</key>
			<string>resetSettings:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send feedback</string>
			<key>action</key>
			<string>sendFeedback:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Developed by Giorgio Iavicoli</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
