Package: com.giorgioiavicoli.passby
Name: PassBy
Depends: mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm
Description: Bypass passcode in many ways
Maintainer: Giorgio Iavicoli
Author: Giorgio Iavicoli
Section: Tweaks
