Package: com.giorgioiavicoli.passby
Name: PassBy
Depends: mobilesubstrate, preferenceloader
Version: 1.7b
Architecture: iphoneos-arm
Description: Bypass passcode in many ways
Maintainer: Giorgio Iavicoli
Author: Giorgio Iavicoli
Section: Tweaks
