<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.timepass</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.timepass</string>
			<key>key</key>
			<string>use24hFormat</string>
			<key>label</key>
			<string>Use 24h format</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.timepass</string>
			<key>key</key>
			<string>shouldAlwaysShowTime</string>
			<key>label</key>
			<string>Always show time</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.timepass</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>timeShift</string>
			<key>label</key>
			<string>Time Shift</string>
			<key>placeholder</key>
			<string>Minutes to add/subtract</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.timepass</string>
			<key>key</key>
			<string>isReversed</string>
			<key>label</key>
			<string>Reverse result passcode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.timepass</string>
			<key>key</key>
			<string>isParanoid</string>
			<key>label</key>
			<string>Require normal password at each respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable this option if you&apos;re paranoid about someone being able to retreive your passcode from this tweak&apos;s preference file. Your passcode will always be stored encrypted.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>6-digit passcode options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.giorgioiavicoli.timepass</string>
			<key>key</key>
			<string>isSixDigitPasscode</string>
			<key>label</key>
			<string>6-digit passcode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.giorgioiavicoli.timepass</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>lastTwoDigits</string>
			<key>label</key>
			<string>Two last digits</string>
			<key>placeholder</key>
			<string>00</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Passcode changed</string>
			<key>action</key>
			<string>passcodeChanged:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Settings</string>
			<key>action</key>
			<string>resetSettings:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Info</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>github.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code by Giorgio Iavicoli</string>
			<key>action</key>
			<string>sourceCode:</string>
		</dict>
	</array>
	<key>title</key>
	<string>TimePass</string>
</dict>
</plist>
